@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}

@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKrYfy_u54SVqRIHexktyaMEX8FWhmSio&sensor=FALSE&libraries=drawing"></script>
}

<hr>

<!-- Modal para Ciudades -->
<div class="modal fade" id="ciudadesModal" @*tabindex="-1" role="dialog" aria-labelledby="ciudadesModalLabel" aria-hidden="true"*@>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="ciudadesModalLabel">Se está cargando la información de los AGEB's....</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="progress" id="barraProgreso">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete (success)</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal para Nuevo Proyecto -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Proyecto</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        @*<label for="numProyecto">Número de Proyecto</label>*@
                        <input type="number" class="form-control" id="numProyecto" placeholder="Número de Proyecto">
                    </div>
                    <div class="form-group">
                        @*<label for="nombreProyecto">Nombre de Proyecto</label>*@
                        <input type="text" class="form-control" id="nombreProyecto" placeholder="Nombre de Proyecto">
                    </div>
                    <div class="form-group">
                        @*<label for="pickButtonCategorias">Categoría</label>*@
                        <div class="btn-group">
                            <button id="pickButtonCategorias" type="button" class="btn btn-default">Selecciona una categoría...</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="groupMenuCategorias" class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="#menuItemCategorias">Categoría 1</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCategorias">Categoría 2</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCategorias">Categoría 3</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCategorias">Categoría 4</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCategorias">Categoría 5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button id="pickButtonClientes" type="button" class="btn btn-default">Selecciona un cliente...</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="groupMenuClientes" class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="#menuItemClientes">Cliente 1</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemClientes">Cliente 2</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemClientes">Cliente 3</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemClientes">Cliente 4</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemClientes">Cliente 5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button id="pickButtonMetodologias" type="button" class="btn btn-default">Selecciona una metodología de estudio...</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="groupMenuMetodologias" class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="#menuItemMetodologias">Metodologia 1</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemMetodologias">Metodologia 2</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemMetodologias">Metodologia 3</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemMetodologias">Metodologia 4</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemMetodologias">Metodologia 5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button id="pickButtonTipoLevantamientos" type="button" class="btn btn-default">Selecciona el tipo de levantamiento de campo...</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="groupMenuTipoLevantamientos" class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="#menuItemTipoLevantamientos">Tipo Levantamiento 1</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemTipoLevantamientos">Tipo Levantamiento 2</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemTipoLevantamientos">Tipo Levantamiento 3</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemTipoLevantamientos">Tipo Levantamiento 4</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemTipoLevantamientos">Tipo Levantamiento 5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button id="pickButtonCiudades" type="button" class="btn btn-default">Selecciona la ciudad...</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="groupMenuCiudades" class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Monterrey</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Guadalajara</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">DF y Área Metropolitana</a></li>
                                <li class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Culiacán</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Hermosillo</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Mazatlán</a></li>
                                <li class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Aguascalientes</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Celaya</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Querétaro</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">León</a></li>
                                <li class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">San Luis Potosí</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Cuernavaca</a></li>
                                <li class="divider"></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Tijuana</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Mexicali</a></li>
                                <li role="presentation"><a role="menuitem" href="#menuItemCiudades">Ensenada</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="muestraTotal" placeholder="Muestra Total">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numEntrevistasPorPunto" placeholder="Número de Entrevistas por Punto">
                    </div>
                    <hr />
                    <h5>Regla AMAI, NSE 8x7</h5>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numAB" placeholder="A/B(%)">
                        Entrevistas <span id="badgeEntrevistasNumAB" class="badge">0</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumAB" class="badge">0</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numCPlus" placeholder="C+(%)">
                        Entrevistas <span id="badgeEntrevistasNumCPlus" class="badge">110</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumCPlus" class="badge">9</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numC" placeholder="C(%)">
                        Entrevistas <span id="badgeEntrevistasNumC" class="badge">110</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumC" class="badge">9</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numCMinus" placeholder="C-(%)">
                        Entrevistas <span id="badgeEntrevistasNumCMinus" class="badge">110</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumCMinus" class="badge">9</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numDMinus" placeholder="D-(%)">
                        Entrevistas <span id="badgeEntrevistasNumDMinus" class="badge">110</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumDMinus" class="badge">9</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numDPlus" placeholder="D+(%)">
                        Entrevistas <span id="badgeEntrevistasNumDPlus" class="badge">110</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumDPlus" class="badge">9</span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="numE" placeholder="E(%)">
                        Entrevistas <span id="badgeEntrevistasNumE" class="badge">110</span>
                        &nbsp;&nbsp;Agebs <span id="badgeAgebsNumE" class="badge">9</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Generar proyecto</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                @*<button type="submit" class="btn btn-primary">Generar proyecto</button>*@
            </div>
        </div>
    </div>
</div>
<!-- /.Modal -->
<!-- Mapa -->
<div class="row">
    <div class="col-md-11 col-md-offset-1" id="mapDiv"></div>
</div>
<!-- /.Mapa -->
